@use '@/assets/scss/variables' as *;
@use '@/assets/scss/mixins' as *;

.notes {
  background: white;
  border-radius: $radius-xl;
  border: 1px solid $color-border;

  padding: 16px;

  @include respond-to(mobile) {
    padding: 12px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;

    @include respond-to(tablet) {
      grid-template-columns: 1fr;
    }
  }
}
